priority -40

snippet ds "describe (synchronous) (Mocha)"
describe("${1}", function () {${2}});
endsnippet

snippet da "describe (asynchronous) (Mocha)"
describe("${1}", function (done) {${2}});
endsnippet

snippet its "it (synchronous) (Mocha)"
it("${1}", function () {${2}});
endsnippet

snippet ita "it (asynchronous) (Mocha)"
it("${1}", function (done) {${2}});
endsnippet

# vim:ft=snippets:
